@charset "utf-8";
#content {
    user-select:none;
    width: 980px;
    margin:0 auto;
    padding-top: 26px;
}
#content .cont_img{
    margin-top: 45px;
}

#content .login_wrap{
    min-height: 355px;
    width: 330px;
    padding: 45px 35px 0 35px;
    background:#fff;
    position: relative;
}
.login_wrap .error_tip{
    position:absolute;
    top: 9px;
    left: 35px;
    width: 308px;
    height: 30px;
    overflow: hidden;
    padding: 0 10px 0 10px;
    border: 1px solid #e5debc;
    border-radius: 2px;
    background: #fff7d1;
    line-height: 30px;
    color: #999;
    display: none;
}
.error_tip i{
    color:#f07e7e;
    margin-right:7px;
    font-weight: bold;
}
.login_tit h2{
    font-size: 14px;
    color: #666;
    font-weight: bold;
    line-height: 30px;
}
.login_tit a{
    line-height:30px;
    color:#06c;
}
.login_tit a:hover{
    color:red
}

.login_wrap .login_form{
    width:330px;
    height: 214px;
}
.login_form .login_name{
    height: 24px;
    padding: 14px 18px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
.login_name i{
    font-size: 18px;
    font-weight: bold;
    color: #ccc;
}
.login_name .login_id{
    color:#ccc
}
.login_name input{
    float: right;
    padding:0 3px 0;
    /* margin-left: 5px; */
    height: 24px;
    width: 240px;
    border:none;
    font-size: 16px;
}

.login_form .auto_login{
    margin: 10px 0;
    line-height: 24px;
    
}
.auto_login .check{
    margin-top:6px;
    cursor: pointer;
    /* display: inline-block; */
    /* height: 20px; */
}
.auto_login label{
    cursor: pointer;
    color:#858585;
    /* user-select:none */
}
.auto_login em{
    color:red;
    display: none;
    /* user-select:none */
}
.auto_login a{
    color:#858585;
}
.auto_login button{
    display: block;
    margin-top:10px;
    width: 100%;
    height: 52px;
    border: none;
    border-radius: 3px;
    background: #ff3c3c;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    text-shadow: 1px 1px 1px #ff7373;
    font-family: "Microsoft YaHei";
    line-height: 52px;
}

.account_list p{
    padding: 15px 0;
    color: #666;
    line-height: 18px;
}

.account_list img{
    display: inline-block;
    height: 33px;
    width: 188px;
}
.account_list .more{
    line-height: 28px;
    /* padding-top: 5px; */
    /* margin-right: 9px; */
    position: absolute;
    right: 44px;
    top:337px;
    z-index: 3;
    color: #858585;
}
.more_landing{
    width: 306px;
    height: 54px;
    margin-top: 15px;
    display:none;
    position: relative;
    z-index: 6;
}
.more_landing img{
    display: inline-block;
    width: 306px;
    height: 56px;
}
.qr_code{
    position: absolute;
    right: 0;bottom: -1px;
    
}
/* .qr_code img:nth-child(1){
    display: block;
}
.qr_code img:nth-child(1){
    display: none;
}
.qr_code:hover img:nth-child(1){
    display: none;
}
.qr_code:hover img:nth-child(1){
    display: block;
} */
.qr_code img{
    cursor: pointer;
}
.qr_code em{
    position: absolute;
    right: 18px;
    bottom: 19px;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 43px solid transparent;
    border-right-color: #fff;
    transform:rotate(45deg);
    z-index: 2;
}



#simplefooter{
    width: 980px;
    margin: 20px auto 0;
    text-align: center;
}
#simplefooter a{
    margin: 0 8px;
    color: #333;
}
#simplefooter p{
    margin-top: 10px;
    color: #333;
}