@charset "utf-8";
body{
    background: #f4f4f4;
}
/* 最小宽度 */
#top_wrap,#logo,#ft_wrap{
    min-width: 1070px;
}
/* 版心 */
.top_con,.logo_con{
    width: 1070px;
    margin: 0 auto;
}



#top_wrap{
    border-bottom: 1px solid #e5e5e5;
    background: #f4f4f4;
}
.top_con{
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.top_con .top_site{
    color:#666;
    padding: 0 10px;
    position: relative;
    /* display: inline-block; */
}
.top_site i{
    color:#FF4040;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 10px;top:1px;
}
.top_site span{
    margin-left: 19px;
}
.top_site i,.top_site span,.top_site em{
    cursor: pointer;
    display:inline-block;
}
.top_con .top_site:hover{
    color:#ff4040;
}

.top_con .top_notice{
    display: inline-block;
    height: 30px;
    padding-left: 20px;
    color: #666;
    overflow: hidden;
    width: 230px;
    position: relative;
}
.top_notice i{
    color:#FF4040;
}
.top_notice .notice_ul{
    position: absolute;
    left: 36px;
    top: 0;
}
.top_notice .notice_ul:hover a{
    color:#ff4040
}
.top_notice .notice_ul a{
    color:#333
}
/* .top_right .top_vip{

} */
.top_vip li:nth-child(2){
    display: none;
}
.top_vip li{
    float: left;
    height: 30px;
    padding:0 10px;
}
.top_vip li:nth-child(1) span{
    color:#666
}
.top_vip .login_btn{
    color: #ff4040;
}
.top_vip .register_btn{
    color: #aaa;
    padding-left: 8px;
}
.top_vip .register_btn:hover{
    color: #ff4040;
}
.top_vip .vip_li34{
    padding: 0 7px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4;
}
.top_vip .vip_li34 i{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color:#aaa
}
/* .top_vip .vip_li34 i:hover{
    color: #ff4040;
} */
.top_vip .vip_li34 span{
    color:#333
}
.top_vip li:nth-child(4) i{
    font-weight: normal;
}

.top_vip .vip_li34 a:hover i{
    color: #ff4040;
}
.top_vip .vip_li34 a:hover span{
    color: #ff4040;
}
/* logo */
#logo{
    background: #fff;
}
.logo_con{
    height: 180px;
    position: relative;
}
.logo_con .logo_area{
    float: left;
    position: relative;
    width: 300px;
    height: 140px;
}
.logo_con .logo_area a:nth-child(1){
    display: inline-block;
    height: 140px;
    width: 140px;
    margin-top: 1px;
}
.logo_con .logo_area a:nth-child(1) img,.logo_con .logo_area a:nth-child(2) img{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.logo_con .logo_area a:nth-child(2){
    width: 160px;
    height: 90px;
    display: inline-block;
    position: absolute;
    right: 0;top: 30px;
}

.logo_con .logo_right{
    position: relative;
    width: 650px;
    padding-top: 50px;
}
.logo_right .search{
    border-radius: 100px;
    padding: 1px;
    border: 1px solid #e2e2e2;
    position: relative;
    width: 509px;
    display: inline-block;
}
.logo_right .search:hover{
    border-color: #FF4040;
}
.logo_right .search:hover button{
    background: #fff;
}
.logo_right .search input{
    width: 476px;
    border-radius: 100px;
    height: 38px;
    line-height: 38px;
    color: #333;
    background: #fcfcfc;
    padding-left: 32px;
    font-size: 14px;
    border: none;
}
.logo_right .search input:hover{
    background:#fff
}

.logo_right .search button{
    height: 38px;
    width: 50px;
    position: absolute;
    border:none;
    background: #fcfcfc;
    border-radius: 100px;
    left: 460px;
    cursor: pointer;
}
.search button i{
    position: absolute;
    right: 19px;
    top: 6px;
    font-size: 24px;
    color:#666
}
.search button:hover i{
    color:#333
}
.search .antistop{
    max-height: 360px;
    position: absolute;
    top: 42px;
    left: 20px;
    padding: 5px 0;
    width: 430px;
    background: #fff;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,0.08);
    border-radius: 0px 0px 5px 5px;
    display:none;
    z-index: 56;
}
.search .antistop li{
    height: 27px;
    
}
.search .antistop li:hover{
    background: #e4e4e4;
}
.search .antistop li a{
    display: inline-block;
    height: 28px;
    color: #333;
    font-size: 12px;
    line-height: 30px;
    padding-left: 12px;
    cursor: pointer;
}
.logo_right .shop_car a{
    display: block;
    width: 120px;
    height: 20px;
    /* overflow: hidden; */
    padding: 9px 0 9px;
    border: 1px solid #e2e2e2;
    border-radius: 100px;
    background: #fff;
    text-align: center;
    line-height: 20px;
    color: #333;
}
.logo_right .shop_car a:hover{
    background: #fcfcfc;
}
.logo_right .shop_car a i{
    font-size: 19px;
}

.logo_right .hot_search{
    height: 19px;
    padding-top: 8px;
    padding-left: 32px;
}
.logo_right .hot_search a{
    float: left;
    margin-right: 10px;
    line-height: 19px;
    font-size: 14px;
    color: #aaa;
}
.logo_right .hot_search a:hover{
    color:#333
}

.logo_con .splb_nav{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    line-height: 38px;
    /* background: #ccc; */
}
.splb_nav .splb_title{
    width: 140px;
    height: 100%;
    /* display: inline-block; */
}
.splb_nav .splb_title:hover .splb_title_list{
    border-top: 2px solid #ff4040;
}
.splb_title .splb_title_caption{
    width: 100%;
    line-height: 38px;
    background: #ff4040;
    color:#fff;
    text-align: center;
}
.splb_title .splb_title_caption:hover{
    cursor: pointer;
}
.splb_title .splb_title_caption i{
    font-weight: bold;
}

.splb_title .splb_title_list{
    position: absolute;
    top: 38px;
    left: 0;
    width: 1068px;
    height: 410px;
    background-color: #fff;
    border: 1px solid #ff4040;
    display:none;
    z-index: 1002;
}
.splb_title .splb_title_list .column_item{
    
    width: 155px;
    padding-left: 22px;
    margin: 30px 0;
    border-right: 1px solid #e9e9e9;
    float: left;
}
.column_item .category-item{
    width: 100%;
    height: 175px;
}
.column_item .category-item p{
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    cursor: pointer;
}
.column_item .category-item:nth-child(2) p{
    padding-top: 12px;
}
.column_item .category-item p:hover{
    color:#ff4040
}
.column_item .category-item ul li{
    float: left;
    width: 50%;
    line-height: 16px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 16px;
    font-size: 12px;
    
}
.column_item .category-item ul li a{
    color:#333
}
.column_item .category-item ul li a:hover{
    color:#ff4040;
    font-weight: bold;
}


.splb_nav .splb_title_right{
    position: absolute;
    top:0;left: 140px;
}
.splb_nav .splb_title_right li{
    float: left;
    margin-left:30px
}
.splb_nav .splb_title_right li a{
    color:#333
}
.splb_nav .splb_title_right li a:hover{
    color:#ff4040
}

.top_sear{
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.05);
    background: #fff;
    position: fixed;
    left: 0;top: -60px;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: none;
    
}
.top_sear .top_sear_con{
    width: 1070px;
    margin: 0 auto;
}

.top_sear a{
    width: 150px;
    height: 60px;
    display:block;
    float: left;
    margin-right: 70px;
}
.top_sear a img{
    height: 100%;width: 100%;
}
.top_sear .top_sear_ipt{
    border-radius: 100px;
    float: left;
    margin: 10px 0 0 0;
    background-color: #ff4040;
    position: relative;
    z-index: 501;
    padding: 2px;
}
.top_sear_ipt input{
    width: 406px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: #fff;
    height: 36px;
    outline: 0 none;
    border: 0 none;
    padding-left: 32px;
    font-size: 14px;
    color: #333;
    line-height: 36px;
    float: left;
}
.top_sear_ipt button{
    width: 68px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    float: left;
    height: 36px;
    border: 0 none;
    background-color: #ff4040;
    text-align: center;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    outline: 0;
}
.top_sear_ipt button i{
    font-size: 24px;
    color: #fff;
}
.top_sear_con .mini_car{
    float: right;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px;
    cursor: pointer;
}
.mini_car a{
    text-decoration: none;
    display: block;
    width: 120px;
    height: 20px;
    overflow: hidden;
    padding: 9px 0 9px;
    border: 1px solid #e2e2e2;
    border-radius: 100px;
    background: #fff;
    text-align: center;
    line-height: 20px;
    color: #333;
    font-size: 16px;
}
.mini_car a i{
    margin-right: 6px;
    font-size: 18px;
    color: #272636;
}
.mini_car a em{
    text-align: center;
    line-height: 20px;
    color: #333;
    font-size: 16px;
}
.mini_car:hover a{
    background: #fcfcfc;
}






/* 底部 */
#ft_wrap{
    background: #fff;
}
.ft_footer_service{
    width: 1070px;
    margin: 0 auto;
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb;
    width: 1070px;
}
.ft_footer_service a{
    margin-right: 81px !important;
    margin-left: 0px !important;
    width: 205px;
    overflow: hidden;
    margin: 0 51px;
    float: left;
    display: block;
}
.ft_footer_service a:last-child{
    margin-right: 0px !important;
}
.ft_footer_service a img{
    float: left;
    display: block;
    width: 66px;
    height: 66px;
    margin-right: 15px;
}
.ft_footer_service a b{
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}
.ft_footer_service a span{
    font-size: 14px;
    color: #999;
    line-height: 26px;
}
.ft_service_link{
    width: 1070px;
    margin: 0 auto;
    padding: 20px 0 20px;
    overflow: hidden;
}
.ft_service_link .ft_help_list{
    float: left;
    padding-left: 15px;
}
.ft_help_list dl{
    float: left;
    display: block;
    width: 195px;
}
.ft_help_list dl dt{
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold;
}
.ft_help_list dl dd{
    height: 24px;
    padding: 0 8px;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    font-size: 12px;
}
.ft_help_list dl dd a{
    color: #666;
}
.ft_help_list dl dd a:hover{
    color:#ff4040
}

.ft_service_link .ft_code_wrap{
    width: 280px;
    overflow: hidden;
    float: left;
    margin-right: -50px;
}
.ft_code_wrap div{
    float: left;
    margin-right: 50px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}
.ft_code_wrap div img{
    width: 90px;
    height: 90px;
}
.ft_footer_link{
    color: #666;
    text-align: center;
    line-height: 100%;
    margin: 15px 0;
}
.ft_footer_link a{
    color: #333;
    margin: 0px 3px;
    font: 12px "Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB","\5b8b\4f53";
}
#footer p{
    color: #666;
    text-align: center;
    text-indent: 0;
    line-height: 100%;
    margin: 15px 0;
    padding: 0;
    font: 12px "Microsoft YaHei",Helvetica Neue,tahoma,Arial,Verdana,"Hiragino Sans GB","\5b8b\4f53";
}
#footer .ft_pic_link{
    padding: 10px 0 20px;
    text-align: center;
    font-size: 0;
}
.ft_pic_link a{
    display: inline-block;
    margin: 0 4px;
}
/* 浮窗 */
#time_limit .fix{
    position: fixed;
    top: 156px;
    width: 100px;
    left: 50%;
    margin-left: 540px;
    z-index: 999;
    display: none;

}
.fix .fix_bott{
    background-color: #fff;
    font-size: 14px;
    color: #333;
    text-align: center;
    line-height: 14px;
}
.fix_bott .down_app{
    height: 30px;
    line-height: 34px;
    letter-spacing: 1px;
}
.fix_bott .fix_ewm{
    width: 76px;
    cursor: pointer;
    margin: 0 auto;
}
.fix_bott .fix_log{
    width: 100px;
}
.fix .fix_gwc{
    display: block;
    width: 100%;
    height: 40px;
    background: #fff;
    border-top: 1px solid #f0f0f0;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    
    text-align: center;
    line-height: 40px;
    color:#333
}
.fix .fix_gwc:hover{
    background: #fbfbfb;
}
.fix .fix_gwc i{
    color: #272636;
    font-size: 20px;
    position: relative;
    top: 1px;
    left: 4px;
}
.fix .top_back{
    font-size: 14px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 29px;
    background-color: #444;
    color: #fff;
    font-family: Tahoma;
    cursor: pointer;
    display: none;
}
.fix .top_back:hover{
    background: #333;
}
.top_back i{
    color: #fff;
    position: relative;
    top: 4px;
    font-size: 20px;
    font-weight: bold;
}
.top_back i em{
    display: inline-block;
    position: absolute;
    height: 2px;
    width: 13px;
    background: #e5e5e5;
    top: 3px;
    right: 4px;
}