@charset "utf-8";

#register_wrap{
    font: 12px Arial,Helvetica,sans-serif;
    color: #333;
    
    border-bottom: 1px solid #f4f4f4;
    background: #fcfcfc;
    padding: 30px 0 40px;
}
#register_wrap .register_con{
    height: 500px;
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
.register_con .bg{
    position: absolute;
}

.register_con .register_model{
    width: 330px;
    margin: 0 auto;
}

.register_model h4{
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    color: #333;
}
.register_form li{
    height: 50px;
    width: 328px;
    margin-top:10px;
    border: 1px solid #dedede;
    border-radius: 3px;
    position: relative;
}
.register_form li:nth-child(3){
    width: 192px;
}
.register_form li:nth-child(6){
    border: none;
    height:93px;
}
.register_form li:nth-child(6) .agreement_word{
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    color: #666;
    text-indent: 1em;
}
.agreement_word a{
    color:#06c
}
.register_form li:nth-child(6) .regist{
    display: block;
    width: 330px;
    height: 52px;
    margin-top: 6px;
    background-color: #ff3c3c;
    font-size: 16px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    border-radius: 2px;
}
.register_form li:nth-child(6) .regist:hover{
    background-color:#d72326;
    color:#ffede6
}
.register_form li input{
    position: relative;
    z-index: 2;
    width: 288px;
    height: 20px;
    margin-top: 15px;
    padding: 0px 20px;
    background: 0;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}
.register_form li:nth-child(3) input{
    width: 152px;
}
.register_form li:nth-child(3)  a{
    float: right;
    width: 126px;
    height: 50px;
    text-align: center;
    background-color: #57565f;
    line-height: 52px;
    color: #fff;
    border-radius: 2px;
    font-size: 14px;
    position: absolute;
    top: 0;right: -137px;
}

.register_form li span{
    
    position: absolute;
    left: 20px;
    top: 0px;
    display: inline-block;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #666;
}
.register_form li .tit{
    /* height: 40px;
    width: 160px; */
    height: 0;width: 0;
    padding: 10px;
    line-height: 20px;
    position: absolute;
    right: -200px;
    top: -5px;
    background: #e4e4e4;
    transform-origin:0 0 0;
    display: none;
}
.register_form li .tit_last{
    height: 0;width: 0;
    padding: 10px;
    right: -125px;
    top: 5px;
    display: none;
}
.register_form li .tit i{
    position: absolute;
    left: -10px;
    top: 50%;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    margin-top: -5px;
    border-color: transparent #e4e4e4 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 5px;
}
.register_form li em{
    position: absolute;
    display: inline-block;
    height: 23px;
    width: 23px;
    right: -43px;
    top: 15px;
    z-index: 3;
    display: none;
}
.register_form li .pass_strong{
    height: 20px;
    width: 120px;
    padding: 10px;
    background:#e4e4e4;
    position: absolute;
    right: -160px;top: 5px;
    color:#999;
    /* display:none */
}
.register_form li .pass_strong1{
    display:none
}
.register_form li .pass_strong2{
    display:none
}
.register_form li .pass_strong3{
    display:none
}
.pass_strong i{
    position: absolute;
    left: -10px;
    top: 50%;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    margin-top: -5px;
    border-color: transparent #e4e4e4 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 5px;
}
.pass_strong b{
    display: inline-block;
    width: 30px;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background: #fff;
}
.pass_strong .low{
    background: #fa592e;
}
.pass_strong .ordinary{
    background: #f6ba52;
}
.pass_strong .strong{
    background: #78ce2e;
}
.pass_strong strong{
    position: absolute;
    right: 7px;
    top: 11px;
}